api/_build/
api/deps/
api/.mix
api/.npm
api/assets/node_modules/
api/.hex
api/.ash_history
api/priv
front-end/.npm/
front-end/.ash_history
front-end/.vue-templates
front-end/.config
front-end/node_modules
